<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index2.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  

  </head>
  <body>
    <script>
      $(document).ready(function() {
          $('.submit').click(function(event) {
              event.preventDefault(); // Prevent the default form submission
  
              var checkbox = [];
              $('.checkbox:checked').each(function() {
                  checkbox.push($(this).val());
              });
  
              
              var rangeOneValue = $('input[name="rangeOne"]').val();
              var dropdown = document.getElementById("dropdown");
              var selectedValue = dropdown.value;

              var data = {
                  checkboxes: checkbox,
                  dropdownValue: selectedValue,
                  rangeOneValue: rangeOneValue
              };
  
              $.ajax({
                  url: '/submitdup',
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify(data), // Convert the data to JSON
                  success: function(response) {
                      console.log(response);
                  
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });
          });
      });
  </script>  

    <div class="search-results">
      <div class="dropdown-menu">
        <div class="dropdown-list-header">
          <div class="text">Amenities</div>
        </div>
        <div class="divider"></div>

        <div class="dropdown-menu-base">
          
          <!--AIR CONDITIONER-->
          <div class="dropdown-list-item"> 
            <div class="content">
              <input class="checkbox" type="checkbox" name="ac" value="Air Conditioner" {% if 'ac' in checked_checkboxes %}checked{% endif %}/>
              <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/mdiacunit.svg') }}">
              <div class="text1">Air Condtioner</div>
            </div>
          </div>

          <!--GEYSER-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="geyser" value="Geyser"{% if 'geyser' in checked_checkboxes %}checked{% endif %}/>
              <div class="air-conditioner">
                <img class="air-conditioner-icon" alt="" src="{{ url_for('static', filename='public/air-conditioner@2x.png') }}">
              </div>
              <div class="text1">Geyser</div>
            </div>
          </div>

          <!--LOCKERS-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="locker" value="Lockers"{% if 'locker' in checked_checkboxes %}checked{% endif %} />
              <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/mdilockers.svg') }}">
              <div class="text1">Lockers</div>
            </div>
          </div>

          <!--COMMON AREA-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="common" value="Common Area"{% if 'common' in checked_checkboxes %}checked{% endif %}/>
              <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/cibcommonworkflowlanguage.svg') }}">
              <div class="text1">Common Area</div>
            </div>
          </div>

          <!--24/7 WIFI-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="wifi" value="24/7 Wifi" {% if 'wifi' in checked_checkboxes %}checked{% endif %}/>
              <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/materialsymbolswifi.svg') }}">
              <div class="text1">24/7 Wifi</div>
            </div>
          </div>

          <!--SECURITY GUARD-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="security" value="Security Guard"{% if 'security' in checked_checkboxes %}checked{% endif %}/>
              <img class="vector-icon" alt="" src="{{ url_for('static', filename='public/vector.svg') }}">
              <div class="text1">Security Guard</div>
            </div>
          </div>

          <!--FOOD-->
          <div class="dropdown-list-item">
            <div class="content">
              <input class="checkbox" type="checkbox" name="food" value="Food"{% if 'food' in checked_checkboxes %}checked{% endif %}/>
              <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/mdifood.svg') }}">
              <div class="text1">Food</div>
            </div>
          </div>

          <div class="divider1"></div>
        </div>
      </div>

      <div class="budget">
        <div class="dropdown-list-header1">
          <div class="text22">Budget</div>
        </div>
       <section class="range-slider container">
  <span class="output outputOne"></span>
  <span class="full-range"></span>
  <span class="incl-range"></span>
  <input name="rangeOne" value="{{ slider_value }}" min="1000" max="20000" step="100" type="range">
  
</section>

      </div>

      <div class="dropdown-list-header-parent">
        <div class="dropdown-list-header2">
          <div class="text">Proximity</div>
        </div>
        <select id="dropdown">
        {% for value, display_text in options %}
            {% if value == selected_option %}
                <option value="{{ value }}" selected>{{ display_text }}</option>
            {% else %}
                <option value="{{ value }}">{{ display_text }}</option>
            {% endif %}
        {% endfor %}
    </select>
      </div>
      
      <div class="search-results-12-found-wrapper">
        <b class="search-results-12">Search Results ({{resno}} found)</b>
      </div>
      
      {% for name, info in rec.items() %}

      {% if loop.index == 1 %}
      <a class="frame-parent" href= "{{info[3]}}">
        <div class="tablerbuilding-parent">
          <img class="tablerbuilding-icon" alt="" src="{{ url_for('static', filename='public/tablerbuilding.svg') }}">

          <div class="icsharp-bolt-parent">
            <img class="mdiac-unit-icon" alt="" src="{{ url_for('static', filename='public/icsharpbolt.svg') }}">


            <div class="recommended">Recommended</div>
          </div>
        </div>
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">

      </a>
      {% endif %}
      {% endfor %}
      
      {% for name, info in data.items() %}
      {% if loop.index == 1 %}
      <a class="frame-group1" href="{{info[3]}}">
        <img class="frame-child" alt="" src="{{ url_for('static', filename='public/frame-46.svg') }}">
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">
      </a>
      {% endif %}

      {% if loop.index == 2 %}
      <a class="frame-group2" href="{{info[3]}}">
        <img class="frame-child" alt="" src="{{ url_for('static', filename='public/frame-46.svg') }}">
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">
      </a>
      {% endif %}

      {% if loop.index == 3 %}
      <a class="frame-group3" href="{{info[3]}}">
        <img class="frame-child" alt="" src="{{ url_for('static', filename='public/frame-46.svg') }}">
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">
      </a>
      {% endif %}

      {% if loop.index == 4 %}
      <a class="frame-group4" href="{{info[3]}}">
        <img class="frame-child" alt="" src="{{ url_for('static', filename='public/frame-46.svg') }}">
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">
      </a>
      {% endif %}

      {% if loop.index == 5 %}
      <a class="frame-group5" href="{{info[3]}}">
        <img class="frame-child" alt="" src="{{ url_for('static', filename='public/frame-46.svg') }}">
        <div class="accommodation-name">{{ name }}</div>
        <div class="distance">{{ 'Distance: ' + info[0]|string + 'kms' }}</div>
        <div class="amenities-provided-air-container">
          <span class="amenities-provided">Amenities Provided: </span>
          <b>Air Conditioner. Geyser, Security Guard +3 </b>
        </div>
        <b class="b">₹{{ info[1] }}</b>
        <img class="keyboard-arrow-right" alt="" src="{{ url_for('static', filename='public/keyboard-arrow-right.svg') }}">
      </a>
      {% endif %}


      {% endfor %}

      <button class="change-location" id="changeLocation">
        Change Location
      </button>

      <div class="loc">
        {{ loc }}
      </div>


      <img class="mdilocation-icon" alt="" src="{{ url_for('static', filename='public/mdilocation.svg') }}">
      <a href="{{ url_for('submitdup') }}"><button class="submit"><div class="submit1">Submit</div></button></a>
      
    </div>

    <script>
      var changeLocation = document.getElementById("changeLocation");
      if (changeLocation) {
        changeLocation.addEventListener("click", function (e) {
          window.location.href = "./";
        });
      }



      var rangeOne = document.querySelector('input[name="rangeOne"]'),
  outputOne = document.querySelector('.outputOne'),
  inclRange = document.querySelector('.incl-range'),
  updateView = function () {
    outputOne.innerHTML = this.value;
    outputOne.style.left = (this.value / this.getAttribute('max')) * 100 + '%';
    inclRange.style.width = ((this.value - this.getAttribute('min')) / (this.getAttribute('max') - this.getAttribute('min'))) * 100 + '%';
    inclRange.style.left = '0%';
  };

document.addEventListener('DOMContentLoaded', function () {
  rangeOne.setAttribute('max', '20000');
  updateView.call(rangeOne);
  
  $('input[type="range"]').on('mouseup', function() {
    this.blur();
  }).on('mousedown input', function () {
    updateView.call(this);
  });
});
      </script>
  </body>
</html>